In [1]:
import pandas as pd

Inlezen van de dataset - Conversie van kolommen naar string en date waar nodig

In [3]:
def ratesdata():
    date_cols = ["rate_dt","input_dt","actual_dt",'start_term_dt','maturity_term_dt']
    df = pd.read_csv(r'C:\Users\merij\OneDrive\Documents\Projects\temp.csv', parse_dates = date_cols, dtype ={"int_basis":'S10', "exchange_name": 'S10'})
    return df

In [4]:
df.head(5)

,rate_dt,rate_name,ccy,rate_type,seq_no,curve_type,input_dt,time_band,days_off,actual_dt,...,start_term,maturity_term,start_term_dt,maturity_term_dt,start_term_date_days,maturity_term_date_days,exchange_name,bid,offer,mid
0,2020-10-01,CDS Asia Banking A,USD,End of Day,4621488,Yield,2020-10-01,6 MONTHS,2.0,2021-04-05,...,NaN,NaN,NaT,NaT,NaN,NaN,b'',10.08,10.08,10.08
1,2020-10-01,CDS Asia Banking A,USD,End of Day,4621489,Yield,2020-10-01,1 YEAR,2.0,2021-10-05,...,NaN,NaN,NaT,NaT,NaN,NaN,b'',10.50,10.50,10.50
2,2020-10-01,CDS Asia Banking A,USD,End of Day,4621490,Yield,2020-10-01,2 YEARS,2.0,2022-10-05,...,NaN,NaN,NaT,NaT,NaN,NaN,b'',16.42,16.42,16.42
3,2020-10-01,CDS Asia Banking A,USD,End of Day,4621491,Yield,2020-10-01,3 YEARS,2.0,2023-10-05,...,NaN,NaN,NaT,NaT,NaN,NaN,b'',23.85,23.85,23.85
4,2020-10-01,CDS Asia Banking A,USD,End of Day,4621492,Yield,2020-10-01,4 YEARS,2.0,2024-10-07,...,NaN,NaN,NaT,NaT,NaN,NaN,b'',33.00,33.00,33.00

In [6]:
# get the columns for the result
cols = df.columns
print(cols)

Index(['rate_dt', 'rate_name', 'ccy', 'rate_type', 'seq_no', 'curve_type',
       'input_dt', 'time_band', 'days_off', 'actual_dt', 'date_days',
       'int_basis', 'int_days', 'start_term', 'maturity_term', 'start_term_dt',
       'maturity_term_dt', 'start_term_date_days', 'maturity_term_date_days',
       'exchange_name', 'bid', 'offer', 'mid'],
      dtype='object')